$blackcolor: #030303;
$whitecolor: #fff;
$greencolor1: #019961;
$greencolor2: #b5D653;
$greencolor3: #3DAD5C;
$greencolor4: #79C258;
$primary-font: 'Roboto regular', sans-serif;
$title-font: 'Monserrat', sans-serif;