.navbar {
  z-index: 1;
  @include flex-start-row;
  gap: 50px;
  padding: 15px 0px 15px 100px;
  border-bottom: 2.5px solid #80808046;
  background-color: $whitecolor;


  .img-nav {
    width: 150px;
  }

  .nav-links {
    @include flex-start-row;
    gap: 30px;

    .links {
      text-decoration: none;
      color: $greencolor1;
      font-family: $primary-font;
      font-size: large;
      @include flex-center-row-space-between;
    }

  }

  .box{
    display: none;
    background-color: #fff;
    margin: 10px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;

    .container-lignes{
      width: 35px;
      height: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .ligne{
        background-color: $greencolor3;
        position: absolute;
        border-radius: 10px;
        width: 35px;
        height: 6px;
      }
    }
  }
    .box .ligne:nth-child(1){
      top: 0px;
    }
    .box .ligne:nth-child(2){
      top: 14px;
    }
    .box .ligne:nth-child(3){
      top: 28px;
    }

    //animation button
    .b1 .ligne:nth-child(2){
      transition: opacity 0.15s 0.15s ease-in-out;
    }

    .b1 .ligne:nth-child(1), .ligne:nth-child(3){
      transform: rotate(0deg);
      transition:
      transform 0.15s ease-in-out,  
      top 0.15s 0.15s ease-in-out;
    }

    .b1.active .ligne:nth-child(1){
      top: 14px;
      transform: rotate(45deg);
      transition:
      top 0.15s ease-in-out,
      transform 0.15s 0.15s ease-in-out;
    }
    .b1.active .ligne:nth-child(2){
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

    }
    .b1.active .ligne:nth-child(3){
      top: 14px;
      transform: rotate(-45deg);
      transition: 
      top 0.15s ease-in-out, 
      transform 0.15s 0.15s ease-in-out;
    }
    

  .active {
    font-weight: 700;
  }

  .links:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1366px){
  body{
    width: 100%;
  }
  .navbar{
    min-width: 100%;
    justify-content: left;
    .img-nav{
      font-size: 20%;
    }
    .nav-links{
      width: 100%;
      gap: 2%;
    }

  }
}

@media only screen and (max-width: 768px){
  body{
    max-width: 100%;
  }
  .navbar{
    max-width: 100%;
    padding-left: 40px;

    .nav-links{
      max-width: 100%;
    }

    .box{
      display: block;
      position: absolute;
      left: 75%;
    }
    .nav-links{
      display: none;
    }

    
  }
  
}

@media screen and (max-width: 360px){
  .navbar{
    width: 100%;
    padding-left: 40px;

    .box{
      display: block;
      position: absolute;
      left: 75%;
    }
    .nav-links{
      display: none;
    }
}
}