#body-apropos {
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;

  #main-apropos {
    display: flex;
  }

  .slider {
    display: flex;
    width: 200vw;
    transition: 0.4s ease-in;

    #block1 {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;

      .left-1-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translateY(-100px);

        .container-color {
          left: 0;
          width: 800px;
          height: 300px;
          border-radius: 0 140px 140px 0;
          background: rgb(181, 214, 83);
          background: linear-gradient(150deg,
              rgba(181, 214, 83, 1) 0%,
              rgba(121, 197, 88, 1) 32%,
              rgba(61, 173, 92, 1) 74%);
        }

        #img-feuille {
          position: absolute;
          transform: translate(40px);
          z-index: 1;
          width: 700px;
        }

        #img-pc {
          transform: translate(40px, 90px);
          position: absolute;
          width: 470px;
        }
      }

      .right-1-container {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        transform: translateY(-40%);

        .point_and_title {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;
          padding-bottom: 50px;

          .point {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $greencolor4;
          }

          h1 {
            font-size: 3em;
            font-family: $title-font;
            font-weight: 600;
            color: $blackcolor2;
          }
        }

        p {
          font-family: $primary-font;
          color: $blackcolor2;
          font-size: 1.2em;
          font-weight: 400;
          line-height: 40px;
          padding-bottom: 25px;
        }

        #content-block1 {
          display: none;
        }

        #greencolor {
          background: rgb(181, 214, 83);
          background: linear-gradient(150deg,
              rgba(181, 214, 83, 1) 0%,
              rgba(121, 197, 88, 1) 32%,
              rgba(61, 173, 92, 1) 74%);
          width: 300px;
          height: 3px;
          border-radius: 10px;
          margin-bottom: 25px;
        }

        h3 {
          font-family: $title-font;
          font-weight: 500;
          color: $blackcolor2;
          font-size: 1.3em;
          line-height: 40px;
        }

        #content-h3-block1 {
          display: none;
        }
      }

      #imgarrow {
        width: 40px;
        margin-right: 80px;
        transform: translateY(-110px);

        img {
          width: 70px;
        }
      }

      #imgarrow:hover {
        cursor: pointer;
      }
    }

    #block2 {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .left-2-container {
        width: 800px;
        transform: translate(250px, -200px);

        .sous-container-left-2 {
          display: flex;
          flex-direction: row;
          align-items: start;
          align-items: center;
          gap: 20px;

          #leftarrow {
            width: 40px;
            transform: translateX(-150px);

            #leftarrow:hover {
              cursor: pointer;
            }

            img {
              width: 70px;
            }
          }

          #leftarrow:hover {
            cursor: pointer;
          }

          .title-and-para {
            display: flex;
            flex-direction: column;

            .point-and-title2 {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;

              h2 {
                font-size: 3em;
                padding-bottom: 40px;
                font-family: $title-font;
                font-weight: 600;
                color: $blackcolor2;
              }

              .point2 {
                width: 20px;
                height: 20px;
                border-radius: 20px;
                background-color: $greencolor4;
                margin-bottom: 40px;
              }
            }

            #block2-p2 {
              display: none;
            }

            #greencolor2 {
              display: none;
            }

            #block2-p {
              font-size: 1.5em;
              line-height: 50px;
              font-family: $primary-font;
              color: $blackcolor2;
              font-weight: 400;
            }
          }
        }
      }
    }

    .right-2-container {
      display: flex;
      justify-content: end;
      transform: translateX(200px);

      #img-block2 {
        width: 100%;
      }
    }
  }
}

// Notenook 1366px adaptable j'usqua tabelette 768px //
@media screen and (max-width: 1366px) and (min-width: 769px) {
  #body-apropos {
    width: 100%;
    overflow: hidden;

    #main-apropos {
      .slider {
        width: 200vw;
        transition: 0.4s ease-in;

        #block1 {
          width: 100vw;

          .left-1-container {
            width: 50%;
            transform: translate(-40px, -100px);

            .container-color {
              width: 90%;
              height: 230px;
            }

            #img-feuille {
              width: 80%;
              transform: translate(10px);
            }

            #img-pc {
              width: 60%;
              transform: translate(0px, 60px);
            }
          }

          .right-1-container {
            width: 50%;

            .point_and_title {
              padding-bottom: 5%;

              .point {
                width: 15px;
                height: 15px;
              }

              h1 {
                font-size: 200%;
              }
            }

            p {
              font-size: 100%;
              line-height: 200%;
            }
          }
        }

        #block2 {
          width: 100vw;

          .left-2-container {
            width: 80%;
            transform: translate(170px, -80px);

            .sous-container-left-2 {
              width: 100%;

              #leftarrow {
                transform: translate(-100px);
              }

              .title-and-para {
                .point-and-title2 {
                  .point2 {
                    width: 15px;
                    height: 15px;
                  }

                  h2 {
                    font-size: 200%;
                  }
                }

                p {
                  font-size: 120%;
                  line-height: 200%;
                  width: 70%;
                }
              }
            }
          }

          .right-2-container {
            width: 70%;
            height: 70%;
            transform: translate(0, -100px);

            #img-block2 {
              transform: translate(0, 20px);
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

// Tablette 768px adaptable j'usqua mobile 361px //
@media screen and (max-width: 768px) and (min-width: 361px) {
  #body-apropos {
    width: 100%;
    overflow: hidden;

    #main-apropos {
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;
      justify-content: space-between;
    }

    .slider {
      width: 200vw;

      #block1 {
        width: 100vw;
        display: flex;
        flex-direction: column;

        .left-1-container {
          width: 90%;
          height: 50px;
          transform: translate(-150px, 100px);

          .container-color {
            width: 70%;
            height: 180px;
            // transform: translate(-100px, 200px);
          }

          #img-feuille {
            width: 50%;
            transform: translate(20px);
            z-index: 0;
          }

          #img-pc {
            width: 40%;
            transform: translate(20px, 50px);
          }
        }

        .right-1-container {
          height: 10%;
          transform: translate(0);
          margin-left: 20px;

          .point_and_title {
            padding-bottom: 20px;

            .point {
              width: 15px;
              height: 15px;
            }

            h1 {
              font-size: 200%;
            }
          }

          p {
            font-size: 120%;
          }

          h3 {
            font-size: 120%;
          }
        }

        #imgarrow {
          transform: translate(240px, -870px);
          cursor: pointer;

          img {
            width: 130%;
          }
        }
      }

      #block2 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;

        .left-2-container {
          width: 90%;
          transform: translate(0px, -150px);

          .sous-container-left-2 {
            transform: translate(0);
            width: 90%;

            #leftarrow {
              transform: translate(200px, -300px);
              cursor: pointer;
              z-index: 10;

              #left-arrow {
                width: 50px;
              }
            }

            .title-and-para {
              .point-and-title2 {
                h2 {
                  font-size: 190%;
                }

                .point2 {
                  width: 15px;
                  height: 15px;
                }
              }

              #block2-p {
                font-size: 120%;
                width: 100%;
              }
            }
          }
        }

        .right-2-container {
          transform: translate(-10px, -200px);
          z-index: -1;

          #img-block2 {
            width: 50%;
          }
        }
      }
    }
  }
}

// mobile et moin //
@media screen and (max-width: 360px) and (min-width: 200px) {
  #body-apropos {
    width: 100%;
    overflow: hidden;

    #main-apropos {
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;
      justify-content: space-between;
    }

    .slider {
      width: 200vw;

      #block1 {
        width: 100vw;
        display: flex;
        flex-direction: column;

        .left-1-container {
          width: 80%;
          transform: translate(-50px, -20px);

          .container-color {
            width: 90%;
            height: 150px;
          }

          #img-feuille {
            width: 90%;
            transform: translate(5px, -20px);
          }

          #img-pc {
            width: 70%;
            transform: translate(0, 30px);
          }
        }

        .right-1-container {
          width: 100vw;
          transform: translate(0px);
          padding-left: 20px;
          margin: 0;

          .point_and_title {
            padding: 0;
            margin: 0;
            transform: translate(20px, -270px);

            .point {
              display: none;
            }

            h1 {
              font-size: 180%;
              margin-bottom: 0;
              padding-top: 0;
              width: 100%;
            }
          }

          p {
            display: none;
          }

          #content-block1 {
            font-family: $title-font;
            display: block;
            font-size: 90%;
            font-weight: 400;
            line-height: 120%;
            width: 90%;
            text-align: start;
            padding-bottom: 10px;
          }

          #greencolor {
            width: 100px;
            height: 2.3px;
            margin-bottom: 10px;
          }

          h3 {
            display: none;
          }

          #content-h3-block1 {
            font-family: $title-font;
            font-weight: 400;
            font-size: 50%;
            margin-bottom: 10px;

            display: block;
            font-size: 100%;
          }
        }

        #imgarrow {
          width: 10%;
          height: 10%;
          transform: translate(170px, -416px);
          cursor: pointer;

          img {
            width: 90%;
          }
        }
      }

      #block2 {
        width: 100vw;
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        padding-top: 19px;

        .left-2-container {
          width: 90%;
          transform: translate(0);

          .sous-container-left-2 {
            #leftarrow {
              width: 200px;
              transform: translate(10px, -100px);
              cursor: pointer;

              #left-arrow {
                width: 130%;
              }
            }

            .title-and-para {
              .point-and-title2 {
                h2 {
                  font-size: 180%;
                  transform: translate(-20px, -160px);
                }

                .point2 {
                  display: none;
                }
              }

              #block2-p {
                display: none;
              }

              #block2-p2 {
                width: 120%;
                display: block;
                font-family: $title-font;
                font-weight: 300;
                font-size: 90%;
                transform: translate(-45px, 60px);
              }
            }
          }
        }

        .right-2-container {
          padding-top: 0px;
          transform: translate(50px, 100px);
          width: 60%;
        }
      }
    }
  }
}