#body-apropos {
  height: 100vh;
  width: 200vw;
  padding: 0;
  margin: 0;
  overflow: hidden;


  #main-apropos {
    width: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;

  }

  #block1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;



    .left-1-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      transform: translateY(-100px);



      .container-color {
        left: 0;
        width: 800px;
        height: 300px;
        border-radius: 0 140px 140px 0;
        background: rgb(181, 214, 83);
        background: linear-gradient(150deg, rgba(181, 214, 83, 1) 0%, rgba(121, 197, 88, 1) 32%, rgba(61, 173, 92, 1) 74%);
      }

      #img-feuille {
        position: absolute;
        transform: translate(40px);
        z-index: 1;
        width: 700px;

      }

      #img-pc {
        transform: translate(40px, 90px);
        position: absolute;
        width: 470px;
      }


    }

    .right-1-container {
      width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      transform: translateY(-40%);

      .point_and_title {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px;

        .point {
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: $greencolor4;
        }

        h1 {
          font-size: 3em;
          font-family: $title-font;
          font-weight: 600;
          color: $blackcolor2;
        }
      }

      p {
        font-family: $primary-font;
        color: $blackcolor2;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 40px;
        padding-bottom: 25px;
      }

      #greencolor {
        background: rgb(181, 214, 83);
        background: linear-gradient(150deg, rgba(181, 214, 83, 1) 0%, rgba(121, 197, 88, 1) 32%, rgba(61, 173, 92, 1) 74%);
        width: 300px;
        height: 3px;
        border-radius: 10px;
        margin-bottom: 25px;
      }

      h3 {
        font-family: $title-font;
        font-weight: 500;
        color: $blackcolor2;
        font-size: 1.3em;
        line-height: 40px;
      }
    }

    #imgarrow {
      width: 40px;
      margin-right: 80px;
      transform: translateY(-110px);

      img {
        width: 70px;
      }


    }

    #imgarrow:hover {
      cursor: pointer;
    }
  }

  #block2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left-2-container {
      width: 800px;
      transform: translate(250px, -200px);

      .sous-conatain-left-2 {
        display: flex;
        flex-direction: row;
        align-items: start;
        align-items: center;
        gap: 20px;

        #leftarrow {
          width: 40px;
          transform: translateX(-150px);

          #leftarrow:hover {
            cursor: pointer;
          }

          img {
            width: 70px;
          }
        }

        #leftarrow:hover {
          cursor: pointer;
        }

        .title-and-para {
          display: flex;
          flex-direction: column;

          .point-and-title2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            h2 {
              font-size: 3em;
              padding-bottom: 40px;
              font-family: $title-font;
              font-weight: 600;
              color: $blackcolor2;
            }

            .point2 {
              width: 20px;
              height: 20px;
              border-radius: 20px;
              background-color: $greencolor4;
              margin-bottom: 40px;
            }
          }

          p {
            font-size: 1.5em;
            line-height: 50px;
            font-family: $primary-font;
            color: $blackcolor2;
            font-weight: 400;
          }
        }



      }
    }

    .right-2-container {
      display: flex;
      justify-content: end;
      transform: translateX(200px);

      #img-block2 {
        width: 100%;

      }
    }
  }
}

@media screen and (max-width: 1366px){
  #block1{
    width: 100%;
    height: 100%;

    .left-1-container{
      width: 40%;

      #img-feuille{
        max-width: 100%;
        z-index: -1;
      }

      .container-color{
        max-height: 270px;
      }

      #img-pc{
        max-width: 400px;
      }
    }
    .right-1-container{
      
      .point_and_title{
        width: 600px;

        h1{
          font-size: 2em;
        }
        
        p{
          font: 1em;
        }
        
      }
    }
  }
}