.velib-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: auto;



    .compteur {
        z-index: -5;
        height: 90vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $primary-font;

        #wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(8px);
            text-align: center;
            //padding-left: 20px;
            border-radius: 10px;
            height: 100px;
            width: 100%;
        }

        #title {
            font-size: 60px;
            font-family: "Pacifico", cursive;
        }

        #minuteur {
            display: grid;
            grid-template-columns: repeat(4, 60px);

        }

        .box {
            margin: 0;
            padding: 0;
            height: 60px;
            width: 50px;
            text-align: center;
            background-color: $greencolor1;
            display: flex;
            flex-direction: column;
            color: white;

            .unite {
                margin: 0;
                font-size: 0.5em;
                color: white;
                padding-bottom: 10px;
                font-family: $title-font;
                font-weight: 800;
            }
        }

        .box>div:first-child {
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

        h2 {
            font-family: $title-font;
            font-weight: 500;
            font-size: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            color: black;
        }

        h3 {
            margin-top: 20px;
            font-size: 15px;
            font-family: $primary-font;
            color: $blackcolor2;
            font-weight: 500;
            text-align: center;
            width: 100%;

        }




    }

}

@media screen and (max-width: 360px) {
    body {
        width: 360px;
        height: 100vh;


        #wrapper {
            padding-left: 0;
            max-width: 100%;
        }

    }

    h3 {
        max-width: 360px;
    }

    #velib-2025 {
        margin-top: 0;
        //word-spacing: 0.5em;
        font-size: 15px;
        transform: scaleX(1.12);
        width: 320px;
    }



}